{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="deckbuilder my-3 p-3">
        <h1>{% if edit_mode %}Edit{% else %}Build{% endif %} Your Deck</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="{{ deck_form.deck_name.id_for_label }}">Deck Name:</label>
                {{ deck_form.deck_name }}
            </div>
            <div class="hidden">
                {{ deck_form.deck_content }}
            </div>
            <div class="deck-area row"> 
                <!-- Cards will be appended here -->
                {% if edit_mode %}
                    {% for card in deck_cards %}
                    <div class="col-12 col-md-4 col-lg-2 my-2">
                        <img class="deck-img" src="{{ card.card_image.url }}" data-card-id="{{ card.card_id }}" alt="{{ card.name }}">
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <label for="{{ deck_form.additional_info.id_for_label }}">Additional Information:</label><br>
                {{ deck_form.additional_info }}
            </div>
            <div>
                <label for="{{ deck_form.published.id_for_label }}">Published:</label>
                {{ deck_form.published }}
            </div>
            <button type="submit" class="btn btn-primary mt-2">{% if edit_mode %}Update{% else %}Save{% endif %} Deck</button>
        </form>
        {% if edit_mode %}
        <button type="submit" class="btn btn-danger mt-2 delete-deck">Delete Deck</button>
        {% endif %}
    </div>

    <div class="library row">
        {% for card in cards %}
        <div class="col-12 col-md-4 col-lg-2 my-2">
            <img class="library-img" src="{{ card.card_image.url }}" data-card-id="{{card.card_id}}" alt="{{card.name}}">
        </div>
        {% endfor %}
    </div>
</div>


<!-- Delete confirmation modal -->
<div id="delete-modal" class="hidden">
    <div id="delete-modal-content">
        
        <div class="custom-modal-header px-2">
            <h5 class="m-0">Delete Deck</h5>
            <button type="button" class="btn-close close-button ms-auto" aria-label="Close"></button>
        </div>
        <div class="px-3 my-2">
            Are you sure you want to delete your deck?
            This action cannot be undone.
        </div>
        <div>
            <button type="button" class="btn btn-secondary close-button me-2">Close</button>
            <a id="delete-confirm" {% if edit_mode %} href="{% url 'delete_deck' deck.id %}" {% endif %} class="btn
            btn-danger">Delete</a>
        </div>

    </div>
</div>

{% endblock %}

{% block js %}
<!-- Custom Js -->
<script src="{% static 'js/deckbuilder.js' %}"></script>
{% endblock %}