{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="deckbuilder my-3 p-3">
        <h1>{% if edit_mode %}Edit{% else %}Build{% endif %} Your Deck</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="{{ deck_form.deck_name.id_for_label }}">Deck Name:</label>
                {{ deck_form.deck_name }}
            </div>
            <div class="hidden">
                {{ deck_form.deck_content }}
            </div>
            <div class="deck-area row"> 
                <!-- Cards will be appended here -->
                {% if edit_mode %}
                    {% for card in deck_cards %}
                    <div class="col-12 col-md-4 col-lg-2 my-2">
                        <img class="deck-img" src="{{ card.card_image.url }}" card-id="{{ card.card_id }}">
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <label for="{{ deck_form.additional_info.id_for_label }}">Additional Information:</label><br>
                {{ deck_form.additional_info }}
            </div>
            <div>
                <label for="{{ deck_form.published.id_for_label }}">Published:</label>
                {{ deck_form.published }}
            </div>
            <button type="submit" class="btn btn-primary mt-2">{% if edit_mode %}Update{% else %}Save{% endif %} Deck</button>
            {% if edit_mode %}
            <button class="btn btn-delete">Delete</button>
            {% endif %}
        </form>
    </div>

    <div class="card-library row">
        {% for card in cards %}
        <div class="col-12 col-md-4 col-lg-2 my-2">
            <img class="library-img" src="{{ card.card_image.url }}" card-id="{{card.card_id}}">
        </div>
        {% endfor %}
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger delete-deck">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<!-- Custom Js -->
<script src="{% static 'js/deckbuilder.js' %}"></script>
{% endblock %}