{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="deckbuilder my-3 p-3">
        <h1>Build Your Deck</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="{{ deck_form.deck_name.id_for_label }}">Deck Name:</label>
                {{ deck_form.deck_name }}
            </div>
            <div class="hidden">
                {{ deck_form.deck_content }}
            </div>
            <div class="deck-area row"> 
            </div>
            <div>
                <label for="{{ deck_form.additional_info.id_for_label }}">Additional Information:</label><br>
                {{ deck_form.additional_info }}
            </div>
            <div>
                <label for="{{ deck_form.published.id_for_label }}">Published:</label>
                {{ deck_form.published }}
            </div>
            <button type="submit" class="btn btn-primary mt-2">Save Deck</button>
        </form>
    </div>

    <div class="card-library row">
        {% for card in cards %}
        <div class="col-12 col-md-4 col-lg-2 my-2">
            <img class="library-img" src="{{ card.card_image.url }}" card-id="{{card.card_id}}">
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}

{% block js %}
<!-- Custom Js -->
<script src="{% static 'js/deckbuilder.js' %}"></script>
{% endblock %}